### Imports

In [73]:
import pymongo
from pymongo import MongoClient
import pickle
import pandas as pd
import numpy as np
import datetime
import plotly.express as px
import pycountry
from plotly.subplots import make_subplots
import plotly.graph_objects as go
from jupyter_dash import JupyterDash as dash
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output
import country_converter as coco

### Connect to MongoDB

In [2]:
client = MongoClient(
    "mongodb+srv://sayan:infinity@infinity.9hew3.mongodb.net/<dbname>?retryWrites=true&w=majority")

In [3]:
db = client.get_database('UNSD')
ebal = db.ebal
unfcc = db.unfcc

ebal.count_documents({}), unfcc.count_documents({})

(814160, 8025)

In [4]:
ebal_data = list(ebal.find())
df_ebal = pd.DataFrame.from_records(ebal_data) 
df_ebal.drop('_id', axis=1, inplace=True)
df_ebal.drop('UNIT',axis=1, inplace=True)
df_ebal.head()

  REF_AREA              COMMODITY         TRANSACTION  TIME_PERIOD   value
0      AFG  Primary coal and peat  Primary production         1990  2709.0
1      AFG  Primary coal and peat  Primary production         1991  2425.2
2      AFG  Primary coal and peat  Primary production         1992   206.4
3      AFG  Primary coal and peat  Primary production         1993   180.6
4      AFG  Primary coal and peat  Primary production         1994   154.8

In [5]:
unfcc_data = list(unfcc.find())
df_unfcc = pd.DataFrame.from_records(unfcc_data) 
df_unfcc.drop('_id', axis=1, inplace=True)
df_unfcc.drop('FREQ', axis=1, inplace=True)
df_unfcc['value'] = df_unfcc['value'].astype(int)
df_unfcc.head()

             INDICATOR REF_AREA    UNIT  TIME_PERIOD   value
0  EN_ATM_CO2E_XLULUCF      AUS  Gg_CO2         1990  278424
1  EN_ATM_CO2E_XLULUCF      AUS  Gg_CO2         1991  279872
2  EN_ATM_CO2E_XLULUCF      AUS  Gg_CO2         1992  284912
3  EN_ATM_CO2E_XLULUCF      AUS  Gg_CO2         1993  289234
4  EN_ATM_CO2E_XLULUCF      AUS  Gg_CO2         1994  294014

### Plotting

In [6]:
df_ebal.groupby(["COMMODITY", "TRANSACTION"])["value"].mean().unstack(level=1)

TRANSACTION,"Agriculture, forestry and fishing",Chemical and petrochemical,Commerce and public services,Construction,Domestic aviation,Domestic navigation,"Electricity, Heat and CHP plants",Energy industries own use,Exports,Final Energy Consumption,...,Transformation in electricity plants - main activity producers,Transformation in gas works,Transformation in heat plants - main activity producers,Transformation in liquefaction plants,Transformation in natural gas blending plants,Transformation in oil refineries,Transport,Transport equipment,Transport not elsewhere specified,Wood and wood products
COMMODITY,,,,,,,,,,,,,,,,,,,,,
Biofuels and waste,7784.878300,4156.142515,11441.460871,573.432140,NaN,415.625646,-43994.005268,-24412.358302,-3.576860e+03,1.738406e+05,...,-3.415340e+04,-491.315789,-12240.384143,NaN,-591.458716,NaN,43341.431599,118.014806,117.095773,6375.681133
Coal and peat products,2567.421169,12440.468845,1857.951591,221.034323,NaN,68.301923,-60634.213534,-26410.488509,-1.710805e+04,9.668421e+04,...,-6.039282e+04,48967.828501,-13269.004887,NaN,-4778.448276,NaN,396.268167,819.553268,477.917025,236.320162
Electricity,14199.610614,44048.858187,69219.610349,5184.929414,NaN,NaN,250656.846315,-26483.634274,-2.116485e+04,2.526952e+05,...,3.021283e+05,NaN,-1769.208161,NaN,NaN,NaN,12750.818739,13345.287184,6471.104630,5856.984725
Heat,6254.440133,49460.636841,26460.055173,6375.378010,NaN,NaN,171438.255226,-23277.279546,-1.496522e+02,1.713456e+05,...,-8.238015e+04,NaN,169028.683132,NaN,NaN,NaN,6237.411455,4073.481671,6237.411455,8169.953197
Memo: Renewables,7274.889858,2936.733069,10524.612308,593.324358,NaN,415.625646,-54336.533704,-25375.433665,-3.572118e+03,1.732971e+05,...,-5.011781e+04,-491.315789,-9697.334648,NaN,-591.458716,NaN,43341.431599,97.686239,117.095773,6452.438783
Natural Gas,8036.917756,78144.997127,123104.361634,7562.417744,NaN,1111.386774,-356714.545381,-114109.393531,-6.063666e+05,4.638356e+05,...,-2.585227e+05,-8006.759532,-119456.779747,-107789.007838,28942.156938,-2.245574e+04,57161.076863,10342.660794,18151.307687,2661.025853
Nuclear,NaN,NaN,NaN,NaN,NaN,NaN,-913519.144649,NaN,NaN,NaN,...,-1.125635e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oil Products,37423.886054,48067.021732,39085.504982,12005.703743,35667.723955,20593.463535,-56076.038461,-84010.347188,-3.121186e+05,4.962128e+05,...,-5.177880e+04,-3721.361632,-23910.974576,NaN,159071.611262,1.362709e+06,335540.822788,3369.513758,11703.772346,4035.457505
Primary Oil,717.922742,4839.690954,1218.491000,685.612500,NaN,NaN,-103815.947804,-14370.025355,-1.060316e+06,2.459801e+04,...,-1.166955e+05,NaN,-14598.809438,36287.341608,-156749.254492,-1.376645e+06,1529.407714,85.537750,2550.583636,95.007623
Primary coal and peat,16874.914500,61077.084983,11397.793912,7869.234641,NaN,1728.485690,-950736.692113,-105379.517932,-3.272588e+05,2.312917e+05,...,-1.097818e+06,-67368.167165,-150674.822520,-288735.424427,NaN,NaN,13553.099122,2780.819319,3534.287859,1103.521261
Total energy,53162.889808,171772.371469,134497.292997,20710.810531,35667.723955,20631.424609,-454093.255290,-139595.381063,-1.099718e+06,1.335336e+06,...,-4.922733e+05,4885.981374,-28639.989248,-38433.193487,5130.609757,-1.524582e+04,362071.313496,24393.248380,13636.479345,16558.504430

In [109]:
commodities = [
    'Oil Products',
    'Electricity',
    'Natural Gas',
    #'Memo: Renewables',
    'Biofuels and waste',
]

transactions = [
    'Total energy supply',
    #'Primary production',
    #'Final consumption',     
    #'Exports',
    #'Imports',
    'Final Energy Consumption',
    'Other Consumption',
    'Transformation',
    #'Manufacturing, construction and non-fuel mining industries',
    #'Electricity, Heat and CHP plants',
]

transactions_imp_ex = ['Imports','Exports','Primary production']

In [10]:
with open('./countries.pickle', 'rb') as handle:
    country_codes = pickle.load(handle)

In [117]:
cc = coco.CountryConverter()
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash(__name__, external_stylesheets=external_stylesheets,suppress_callback_exceptions=True)

app.layout = html.Div([
    html.H1("JupyterDash Demo"),
    html.Label(["Years",
                dcc.Slider(id='year-slider', min=min(df_ebal['TIME_PERIOD']),
                           marks={str(year): str(year) for year in df_ebal['TIME_PERIOD'].unique()},
                           max=max(df_ebal['TIME_PERIOD']), step=1, value=1990)
               ]),
    html.Div([html.Label(["Country",
    dcc.Dropdown(id='country-dropdown', options=[{'label': cc.convert(names = i, to = 'name_short'), 'value': i} for i in df_ebal['REF_AREA'].unique()], value='USA')
               ])]),
    html.Div([dcc.Graph(id='graph-bar'),dcc.Graph(id='graph-pie')])
])


@app.callback(
    [Output('graph-bar', 'figure'), Output('graph-pie','figure')],
    [Input('year-slider', 'value'), Input('country-dropdown','value')])
def update_output(year,country):
    
    df_ebal_small_bar = df_ebal.query("(COMMODITY in @commodities) and (TRANSACTION in @transactions)").reset_index(drop=True)
    
    df_ebal_small_pie = df_ebal.query("(COMMODITY in @commodities) and (TRANSACTION in @transactions_imp_ex)").reset_index(drop=True)
    
    df_ebal_query_bar = df_ebal_small_bar.query("(TIME_PERIOD in '{}') and (REF_AREA in '{}')".format(year,country))
    
    sorterIndex = dict(zip(commodities, range(len(commodities))))
    df_ebal_query_bar['COMMODITY_RANK'] = df_ebal_query_bar['COMMODITY'].map(sorterIndex)
    #df_ebal_query_bar.sort_values(by=['COMMODITY'],inplace=True)
    df_ebal_query_bar.sort_values('COMMODITY_RANK',ascending=True,inplace = True)
    df_ebal_query_bar.drop('COMMODITY_RANK', axis=1, inplace = True)
    
    fig_bar = px.bar(df_ebal_query_bar, x="COMMODITY", y="value", color="TRANSACTION", title="Energy Consumption Distribution", barmode='group', labels=dict(COMMODITY="Commodity", value="Energy (in TJ)"))
        
    df_ebal_query_pie = df_ebal_small_pie.query("(TIME_PERIOD in '{}') and (REF_AREA in '{}')".format(year,country))
    df_ebal_query_pie['COMMODITY_RANK'] = df_ebal_query_pie['COMMODITY'].map(sorterIndex)
    df_ebal_query_pie.sort_values('COMMODITY_RANK',ascending=True,inplace = True)
    df_ebal_query_pie.drop('COMMODITY_RANK', axis=1, inplace = True)
    df_ebal_query_pie['value'] = abs(df_ebal_query_pie['value'])
    
    fig_pie = make_subplots(rows=1, cols=len(commodities), specs=[[{'type':'domain'}]*4])

    
    for i in range(1,5):
        df_temp = df_ebal_query_pie[df_ebal_query_pie['COMMODITY'] == commodities[i-1]]
        fig_pie.add_trace(go.Pie(labels=df_temp['TRANSACTION'].unique(), values=df_temp['value'],
                         title="{}".format(commodities[i-1]),name=commodities[i-1]),1,i)

    fig_pie.update_traces(hole=.6, hoverinfo="label+percent+name")
    fig_pie.update(layout_title_text='Energy Souce Distribution')
    
    return fig_bar, fig_pie


if __name__ == '__main__':
    app.run_server(mode='external',debug=False,dev_tools_ui=False,dev_tools_props_check=False)

Dash app running on http://127.0.0.1:8050/

In [103]:
sorterIndex = dict(zip(commodities, range(len(commodities))))
df_ebal_query_bar['COMMODITY_RANK'] = df_ebal_query_bar['COMMODITY'].map(sorterIndex)
#df_ebal_query_bar.sort_values(by=['COMMODITY'],inplace=True)
df_ebal_query_bar.sort_values(['COMMODITY_RANK'],inplace = True)
#df_ebal_query_bar.drop('COMMODITY_RANK', axis=1, inplace = True)

<ipython-input-103-4ae3b1248bf7>:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-103-4ae3b1248bf7>:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [104]:
df_ebal_query_bar

,REF_AREA,COMMODITY,TRANSACTION,TIME_PERIOD,value,COMMODITY_RANK
73464,USA,Biofuels and waste,Total energy supply,1990,2.607506e+06,0
73492,USA,Biofuels and waste,Transformation,1990,-6.745470e+05,0
73520,USA,Biofuels and waste,Final Energy Consumption,1990,1.932959e+06,0
73548,USA,Biofuels and waste,Other Consumption,1990,9.097730e+05,0
73576,USA,Electricity,Total energy supply,1990,1.001524e+06,1
73604,USA,Electricity,Transformation,1990,1.053573e+07,1
73632,USA,Electricity,Final Energy Consumption,1990,9.480870e+06,1
73660,USA,Electricity,Other Consumption,1990,6.346462e+06,1
73352,USA,Natural Gas,Total energy supply,1990,1.835315e+07,2
73380,USA,Natural Gas,Transformation,1990,-3.711271e+06,2
73408,USA,Natural Gas,Final Energy Consumption,1990,1.210763e+07,2
73436,USA,Natural Gas,Other Consumption,1990,6.860281e+06,2
73240,USA,Oil Products,Total energy supply,1990,-1.811992e+05,3
73268,USA,Oil Products,Transformation,1990,3.214190e+07,3
73296,USA,Oil Products,Final Energy Consumption,1990,2.407905e+07,3
73324,USA,Oil Products,Other Consumption,1990,2.614475e+06,3

In [64]:
country_names = {}
for i in df_ebal['REF_AREA'].unique():
    print(i)
    country = pycountry.countries.get(alpha_3=i)
    country_names[i] = country.name

AFG
ALB
DZA
AND
AGO
ATG
AZE
ARG
AUS
AUT
BHS
BHR
BGD
ARM
BRB
BEL
BMU
BTN
BOL
BIH
BWA
BRA
BLZ
SLB
VGB
BRN
BGR
MMR
BDI
BLR
KHM
CMR
CAN
CPV
CYM
CAF
LKA
TCD
CHL
CHN
COL
COM
COG
COD
COK
CRI
HRV
CUB
CYP
CZE
BEN
DNK
DMA
DOM
ECU
SLV
GNQ
ETH
ERI
EST
FRO
FLK
FJI
FIN
FRA
PYF
DJI
GAB
GEO
GMB
PSE
DEU
GHA
GIB
KIR
GRC
GRL
GRD
GTM
GIN
GUY
HTI
HND
HKG
HUN
ISL
IND
IDN
IRN
IRQ
IRL
ISR
ITA
CIV
JAM
JPN
KAZ
JOR
KEN
PRK
KOR
XKX

AttributeError: 'NoneType' object has no attribute 'name'

In [69]:
cc.convert(names = 'XKX', to = 'name_short')

'Kosovo'

In [80]:
df_ebal_small_bar = df_ebal.query("(COMMODITY in @commodities) and (TRANSACTION in @transactions)").reset_index(drop=True)
    
df_ebal_query_bar = df_ebal_small_bar.query("(TIME_PERIOD in '{}') and (REF_AREA in '{}')".format('1990','USA'))

In [81]:
df_ebal_query_bar

,REF_AREA,COMMODITY,TRANSACTION,TIME_PERIOD,value
73240,USA,Oil Products,Total energy supply,1990,-1.811992e+05
73268,USA,Oil Products,Transformation,1990,3.214190e+07
73296,USA,Oil Products,Final Energy Consumption,1990,2.407905e+07
73324,USA,Oil Products,Other Consumption,1990,2.614475e+06
73352,USA,Natural Gas,Total energy supply,1990,1.835315e+07
73380,USA,Natural Gas,Transformation,1990,-3.711271e+06
73408,USA,Natural Gas,Final Energy Consumption,1990,1.210763e+07
73436,USA,Natural Gas,Other Consumption,1990,6.860281e+06
73464,USA,Biofuels and waste,Total energy supply,1990,2.607506e+06
73492,USA,Biofuels and waste,Transformation,1990,-6.745470e+05
73520,USA,Biofuels and waste,Final Energy Consumption,1990,1.932959e+06
73548,USA,Biofuels and waste,Other Consumption,1990,9.097730e+05
73576,USA,Electricity,Total energy supply,1990,1.001524e+06
73604,USA,Electricity,Transformation,1990,1.053573e+07
73632,USA,Electricity,Final Energy Consumption,1990,9.480870e+06
73660,USA,Electricity,Other Consumption,1990,6.346462e+06